In [86]:
import pandas as pd
import numpy as np

In [87]:
df_1 = pd.read_excel("rbf_data_1.xlsx")
df_1

   X1  X2  X3  X4  X5  X6  X7  X8  X9  X10  REFERENCE
0   1   0   1   0   1   1   0   1   0    1         10
1   1   0   1   0   0   1   1   1   0    1        -10
2   0   1   1   1   0   1   0   1   1    0        -10
3   0   1   1   0   1   1   0   0   1    1         10
4   1   0   0   0   1   1   1   1   1    1        -10
5   1   1   1   1   0   0   0   0   0    1        -10
6   1   1   0   1   0   1   1   0   1    0         10
7   0   1   0   1   0   1   0   1   0    1         10
8   1   1   1   0   0   1   1   0   0    1        -10

In [88]:
df_2 = pd.read_excel("rbf_data_2.xlsx")
df_2

   X1  REFERENCE
0   2          3
1   3          6
2   4          5

In [89]:
df_3 = pd.read_excel("rbf_data_3.xlsx")
df_3

   X1  X2  REFERENCE
0   1   1          0
1   0   1          1
2   0   0          0
3   1   0          1

In [90]:
df_4 = pd.read_excel("rbf_data_4.xlsx")
df_4.iloc[6, 3] = 2.11
print(df_4)
df_op_4 = df_4.drop(columns=["REFERENCE"])
print(df_op_4)
column_ref_4 = df_4["REFERENCE"]
print(column_ref_4)

   X1  X2  X3 REFERENCE
0   1   1   1      2.18
1   1   1   0      1.83
2   0   3   1      1.31
3   1   1   2      2.79
4   2   1   1      2.49
5   2   0   4      3.95
6   1   2   0      2.11
   X1  X2  X3
0   1   1   1
1   1   1   0
2   0   3   1
3   1   1   2
4   2   1   1
5   2   0   4
6   1   2   0
0    2.18
1    1.83
2    1.31
3    2.79
4    2.49
5    3.95
6    2.11
Name: REFERENCE, dtype: object

In [91]:
# Select the two poles
pole_size = len(df_op_4.columns)
print(pole_size)
pole_zero = np.zeros(pole_size)
print(pole_zero)
pole_one = df_op_4.max().values
pole_one[1] = 0 # REMOVE FOR GENERALIZATION
nbr_of_poles = 2
print(pole_one)

3
[0. 0. 0.]
[2 0 4]

In [92]:
# Calculate the euclidian distance

pole_distance = np.linalg.norm(pole_one - pole_zero)**2
print(pole_distance)

20.000000000000004

In [93]:
# Define sigma
sigma = np.sqrt(pole_distance) / np.sqrt(2 * nbr_of_poles)
print(sigma)

2.23606797749979

In [94]:
def gaussian_function(row, pole_zero, pole_one, sigma):
	result1 = np.e**(-1/(2*(sigma**2)) * np.linalg.norm(row - pole_zero)**2)
	result2 = np.e**(-1/(2*(sigma**2)) * np.linalg.norm(row - pole_one)**2)
	return result1, result2

In [95]:
# Apply gaussian function in database
result = df_op_4.apply(gaussian_function, axis=1, args=(pole_zero, pole_one, sigma))
print(result)

0       (0.740818220681718, 0.3328710836980797)
1      (0.8187307530779818, 0.1652988882215867)
2    (0.36787944117144233, 0.11080315836233398)
3      (0.5488116360940266, 0.5488116360940266)
4     (0.5488116360940266, 0.36787944117144233)
5                     (0.1353352832366127, 1.0)
6     (0.6065306597126334, 0.12245642825298196)
dtype: object