In [63]:
import pandas as pd
import numpy as np

In [64]:
df_1 = pd.read_excel("rbf_data_1.xlsx")
df_1

   X1  X2  X3  X4  X5  X6  X7  X8  X9  X10  REFERENCE
0   1   0   1   0   1   1   0   1   0    1         10
1   1   0   1   0   0   1   1   1   0    1        -10
2   0   1   1   1   0   1   0   1   1    0        -10
3   0   1   1   0   1   1   0   0   1    1         10
4   1   0   0   0   1   1   1   1   1    1        -10
5   1   1   1   1   0   0   0   0   0    1        -10
6   1   1   0   1   0   1   1   0   1    0         10
7   0   1   0   1   0   1   0   1   0    1         10
8   1   1   1   0   0   1   1   0   0    1        -10

In [65]:
df_2 = pd.read_excel("rbf_data_2.xlsx")
df_2

   X1  REFERENCE
0   2          3
1   3          6
2   4          5

In [66]:
df_3 = pd.read_excel("rbf_data_3.xlsx")
df_3

   X1  X2  REFERENCE
0   1   1          0
1   0   1          1
2   0   0          0
3   1   0          1

In [67]:
df_4 = pd.read_excel("rbf_data_4.xlsx")
df_4.iloc[6, 3] = 2.11
print(df_4)
df_op_4 = df_4.drop(columns=["REFERENCE"])
print(df_op_4)
column_ref_4 = df_4["REFERENCE"].astype(float)
print(column_ref_4)

   X1  X2  X3 REFERENCE
0   1   1   1      2.18
1   1   1   0      1.83
2   0   3   1      1.31
3   1   1   2      2.79
4   2   1   1      2.49
5   2   0   4      3.95
6   1   2   0      2.11
   X1  X2  X3
0   1   1   1
1   1   1   0
2   0   3   1
3   1   1   2
4   2   1   1
5   2   0   4
6   1   2   0
0    2.18
1    1.83
2    1.31
3    2.79
4    2.49
5    3.95
6    2.11
Name: REFERENCE, dtype: float64